@using WebShop.Models;
@model ModelOrderView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">

                <div class="invoice p-5">

                    <h5>Din ordre er blevet bekræftet!</h5>

                    <span class="font-weight-bold d-block mt-4">Hej kunde</span>
                    <span>Din ordre er blevet bekræftet og vil blive sendt i løbet af de næste to hverdage</span>

                    <p class="font-weight-bold mb-0">Tak for du handlede hos os!</p>
                    <span>Gruppe 5's Festivals udstyr webshop</span>
                </div>

            </div>
        </div>
    </div>
</div>
