################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebShop/.vs/WebShop/FileContentIndex
/WebShop/DesktopApp/obj
