################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebShop/.vs/WebShop/FileContentIndex
/WebShop/DesktopApp/obj
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/FileContentIndex/118d9b7e-602c-43ae-8f9c-41cc59827292.vsidx
*.vsidx
*.vsidx
*.manifest
*.testlog
.vs/ShopFestival/v17/.suo
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/FileContentIndex/118d9b7e-602c-43ae-8f9c-41cc59827292.vsidx
.vs/ShopFestival/FileContentIndex/257fb953-43c5-4ce0-a861-6bd98da7364c.vsidx
.vs/ShopFestival/FileContentIndex/4f10379d-203a-4b88-ae80-db195e514405.vsidx
.vs/ShopFestival/v17/.suo
.vs/slnx.sqlite
WebShop/.vs/WebShop/v17/.suo
WebShop/.vs/WebShop/v17/TestStore/0/001.testlog
WebShop/Database Service/obj/Database Service.csproj.nuget.dgspec.json
WebShop/Database Service/obj/Database Service.csproj.nuget.g.props
WebShop/Database Service/obj/Debug/net6.0/Database Service.assets.cache
WebShop/Database Service/obj/Debug/net6.0/Database Service.csproj.AssemblyReference.cache
WebShop/Database Service/obj/Debug/net6.0/Database Service.GeneratedMSBuildEditorConfig.editorconfig
WebShop/Database Service/obj/project.assets.json
WebShop/Database Service/obj/project.nuget.cache
WebShop/Database Service/obj/Release/net6.0/Database Service.assets.cache
WebShop/Database Service/obj/Release/net6.0/Database Service.GeneratedMSBuildEditorConfig.editorconfig
WebShop/DesktopApp/obj/Debug/net6.0-windows/DesktopApp.assets.cache
WebShop/DesktopApp/obj/Debug/net6.0-windows/DesktopApp.csproj.AssemblyReference.cache
WebShop/DesktopApp/obj/Debug/net6.0-windows/DesktopApp.GeneratedMSBuildEditorConfig.editorconfig
WebShop/DesktopApp/obj/DesktopApp.csproj.nuget.dgspec.json
WebShop/DesktopApp/obj/DesktopApp.csproj.nuget.g.props
WebShop/DesktopApp/obj/project.assets.json
WebShop/DesktopApp/obj/project.nuget.cache
WebShop/DesktopApp/obj/Release/net6.0-windows/DesktopApp.assets.cache
WebShop/DesktopApp/obj/Release/net6.0-windows/DesktopApp.GeneratedMSBuildEditorConfig.editorconfig
WebShop/Model/obj/Debug/net6.0/Model.assets.cache
WebShop/Model/obj/Debug/net6.0/Model.GeneratedMSBuildEditorConfig.editorconfig
WebShop/Model/obj/Model.csproj.nuget.dgspec.json
WebShop/Model/obj/Model.csproj.nuget.g.props
WebShop/Model/obj/project.assets.json
WebShop/Model/obj/project.nuget.cache
WebShop/Model/obj/Release/net6.0/Model.assets.cache
WebShop/Model/obj/Release/net6.0/Model.GeneratedMSBuildEditorConfig.editorconfig
WebShop/TestWinforms/bin/Debug/net6.0/CoverletSourceRootsMapping
WebShop/TestWinforms/bin/Release/net6.0/CoverletSourceRootsMapping
WebShop/TestWinforms/obj/Debug/net6.0/TestWinforms.assets.cache
WebShop/TestWinforms/obj/Debug/net6.0/TestWinforms.csproj.AssemblyReference.cache
WebShop/TestWinforms/obj/Debug/net6.0/TestWinforms.GeneratedMSBuildEditorConfig.editorconfig
WebShop/TestWinforms/obj/Release/net6.0/TestWinforms.assets.cache
WebShop/TestWinforms/obj/Release/net6.0/TestWinforms.GeneratedMSBuildEditorConfig.editorconfig
WebShop/UnitTest/bin/Debug/net6.0-windows/CoverletSourceRootsMapping
WebShop/UnitTest/bin/Release/net6.0-windows/CoverletSourceRootsMapping
WebShop/UnitTest/obj/Debug/net6.0-windows/UnitTest.assets.cache
WebShop/UnitTest/obj/Debug/net6.0-windows/UnitTest.csproj.AssemblyReference.cache
WebShop/UnitTest/obj/Debug/net6.0-windows/UnitTest.GeneratedMSBuildEditorConfig.editorconfig
WebShop/UnitTest/obj/project.assets.json
WebShop/UnitTest/obj/project.nuget.cache
WebShop/UnitTest/obj/Release/net6.0-windows/UnitTest.assets.cache
WebShop/UnitTest/obj/Release/net6.0-windows/UnitTest.csproj.AssemblyReference.cache
WebShop/UnitTest/obj/Release/net6.0-windows/UnitTest.GeneratedMSBuildEditorConfig.editorconfig
WebShop/UnitTest/obj/UnitTest.csproj.nuget.dgspec.json
WebShop/UnitTest/obj/UnitTest.csproj.nuget.g.props
WebShop/WebShop/obj/Debug/net6.0/WebShop.assets.cache
WebShop/WebShop/obj/Debug/net6.0/WebShop.GeneratedMSBuildEditorConfig.editorconfig
WebShop/WebShop/obj/project.assets.json
WebShop/WebShop/obj/project.nuget.cache
WebShop/WebShop/obj/Release/net6.0/WebShop.assets.cache
WebShop/WebShop/obj/Release/net6.0/WebShop.GeneratedMSBuildEditorConfig.editorconfig
WebShop/WebShop/obj/WebShop.csproj.nuget.dgspec.json
WebShop/WebShop/obj/WebShop.csproj.nuget.g.props
.vs/ShopFestival/v17/.suo
.vs/slnx.sqlite
WebShop/.vs/WebShop/v17/.suo
WebShop/.vs/WebShop/v17/TestStore/0/001.testlog
WebShop/Database Service/obj/Database Service.csproj.nuget.dgspec.json
WebShop/Database Service/obj/Database Service.csproj.nuget.g.props
WebShop/Database Service/obj/Debug/net6.0/Database Service.assets.cache
WebShop/Database Service/obj/Debug/net6.0/Database Service.csproj.AssemblyReference.cache
WebShop/Database Service/obj/Debug/net6.0/Database Service.GeneratedMSBuildEditorConfig.editorconfig
WebShop/Database Service/obj/project.assets.json
WebShop/Database Service/obj/project.nuget.cache
WebShop/Database Service/obj/Release/net6.0/Database Service.assets.cache
WebShop/Database Service/obj/Release/net6.0/Database Service.GeneratedMSBuildEditorConfig.editorconfig
WebShop/DesktopApp/obj/Debug/net6.0-windows/DesktopApp.assets.cache
WebShop/DesktopApp/obj/Debug/net6.0-windows/DesktopApp.csproj.AssemblyReference.cache
WebShop/DesktopApp/obj/Debug/net6.0-windows/DesktopApp.GeneratedMSBuildEditorConfig.editorconfig
WebShop/DesktopApp/obj/DesktopApp.csproj.nuget.dgspec.json
WebShop/DesktopApp/obj/DesktopApp.csproj.nuget.g.props
WebShop/DesktopApp/obj/project.assets.json
WebShop/DesktopApp/obj/project.nuget.cache
WebShop/DesktopApp/obj/Release/net6.0-windows/DesktopApp.assets.cache
WebShop/DesktopApp/obj/Release/net6.0-windows/DesktopApp.GeneratedMSBuildEditorConfig.editorconfig
WebShop/Model/obj/Debug/net6.0/Model.assets.cache
WebShop/Model/obj/Debug/net6.0/Model.GeneratedMSBuildEditorConfig.editorconfig
WebShop/Model/obj/Model.csproj.nuget.dgspec.json
WebShop/Model/obj/Model.csproj.nuget.g.props
WebShop/Model/obj/project.assets.json
WebShop/Model/obj/project.nuget.cache
WebShop/Model/obj/Release/net6.0/Model.assets.cache
WebShop/Model/obj/Release/net6.0/Model.GeneratedMSBuildEditorConfig.editorconfig
WebShop/TestWinforms/bin/Debug/net6.0/CoverletSourceRootsMapping
WebShop/TestWinforms/bin/Release/net6.0/CoverletSourceRootsMapping
WebShop/TestWinforms/obj/Debug/net6.0/TestWinforms.assets.cache
WebShop/TestWinforms/obj/Debug/net6.0/TestWinforms.csproj.AssemblyReference.cache
WebShop/TestWinforms/obj/Debug/net6.0/TestWinforms.GeneratedMSBuildEditorConfig.editorconfig
WebShop/TestWinforms/obj/Release/net6.0/TestWinforms.assets.cache
WebShop/TestWinforms/obj/Release/net6.0/TestWinforms.GeneratedMSBuildEditorConfig.editorconfig
WebShop/UnitTest/bin/Debug/net6.0-windows/CoverletSourceRootsMapping
WebShop/UnitTest/bin/Release/net6.0-windows/CoverletSourceRootsMapping
WebShop/UnitTest/obj/Debug/net6.0-windows/UnitTest.assets.cache
WebShop/UnitTest/obj/Debug/net6.0-windows/UnitTest.csproj.AssemblyReference.cache
WebShop/UnitTest/obj/Debug/net6.0-windows/UnitTest.GeneratedMSBuildEditorConfig.editorconfig
WebShop/UnitTest/obj/project.assets.json
WebShop/UnitTest/obj/project.nuget.cache
WebShop/UnitTest/obj/Release/net6.0-windows/UnitTest.assets.cache
WebShop/UnitTest/obj/Release/net6.0-windows/UnitTest.csproj.AssemblyReference.cache
WebShop/UnitTest/obj/Release/net6.0-windows/UnitTest.GeneratedMSBuildEditorConfig.editorconfig
WebShop/UnitTest/obj/UnitTest.csproj.nuget.dgspec.json
WebShop/UnitTest/obj/UnitTest.csproj.nuget.g.props
WebShop/WebShop/obj/Debug/net6.0/WebShop.assets.cache
WebShop/WebShop/obj/Debug/net6.0/WebShop.GeneratedMSBuildEditorConfig.editorconfig
WebShop/WebShop/obj/project.assets.json
WebShop/WebShop/obj/project.nuget.cache
WebShop/WebShop/obj/Release/net6.0/WebShop.assets.cache
WebShop/WebShop/obj/Release/net6.0/WebShop.GeneratedMSBuildEditorConfig.editorconfig
WebShop/WebShop/obj/WebShop.csproj.nuget.dgspec.json
WebShop/WebShop/obj/WebShop.csproj.nuget.g.props
*.testlog
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/FileContentIndex/0f1979f3-6d51-45ea-b7e4-7d125897ea66.vsidx
.vs/ShopFestival/v17/.suo
WebShop/.vs/WebShop/v17/TestStore/0/001.testlog
.vs/ShopFestival/v17/.suo
WebShop/.vs/WebShop/v17/TestStore/0/001.testlog
WebShop/Database Service/obj/Database Service.csproj.nuget.dgspec.json
WebShop/Database Service/obj/Database Service.csproj.nuget.g.props
WebShop/Database Service/obj/Debug/net6.0/Database Service.assets.cache
